{% extends 'base.html.twig' %}

{% block title %}First Page{% endblock %}

{% block menu %} {% endblock %}


{%block champ %}
<div class="container" style="text-align:center;">

    <div> 
        <img id="img_logo_first_page" src="{{asset('img/logo_fff_tarn.png')}}"  class="img-fluid rounded-top" alt="logo_fff_tarn">  
    </div>  

    <div >
        <p id="nom_first_page">NOM</p>
    </div>
</div>

{% endblock %}

{% block body %} 
    <div class="container" style="text-align:center;">
    <div>
        <button type="button" id="btn_se_connecter" class="btn btn-primary btn-lg">
          <a class="nav-link" href="{{asset('connexion/page/')}}" aria-current="page">Se connecter</a></button>
    </div>

    <div >
        <p id="text_first_page">Vous n'avez pas de compte ? Inscrivez vous ici</p>
    </div>

    <div>
        <button type="button" id="btn_se_connecter" class="btn btn-primary btn-lg">
        <a class="nav-link" href="{{asset('create/profil/')}}" aria-current="page">Créer un compte</a></button>
    </div>
</div>


{% endblock %}
