{% extends 'first_page/index.html.twig' %}



{% block body %}

<div class="container w-50">

<hr />    

    <div class="example-wrapper">
    <div> 
            <form method = "">
        <div class="mb-3">
            <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder = "Adresse Email">
            
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="" placeholder="Mot de passe">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
        </div>
        
        <div>
        <button type="button" id="btn_se_connecter" class="btn btn-primary btn-lg">
        <a class="nav-link" href="{{asset('home/page')}}" aria-current="page">Connexion</a></button>
    </div>
</form>
    </div>

    
<hr />
        <div>
            <form method = "">

            <div class="mb-3">
                <input type="text" class="form-control" id="" placeholder="code d'équipe">
            </div>

            <button type="submit" class="btn btn-primary">Confirmé le code</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}
